.App {
  text-align: center;
}

button,
textarea,
#formattedText,
#error-message {
  display: block;
  margin-top: 10px;
}

.container {
  margin-left: 10px;
}

textarea {
  height: 100px;
  width: 300px;
}

#formattedText {
  border: 1px solid black;
  width: 300px;
  padding: 3px;
  min-height: 100px;
}

#error-message {
  color: red;
  font-size: 13px;
}
